<div ng-controller="GeolocationController" class="row">
    <div class="map-container-l">
        <div id="map-canvas"></div>
        <div class="map-controlls align-bottom align-right">        
            <div><a ng-click="Geolocation.MoveToPosition()"><i class="glyphicon glyphicon-map-marker"></i></a></div>
            <div><a ng-click="Geolocation.SetCurrentPosition()"><i class="glyphicon glyphicon-home"></i></a></div>
        </div>
    </div>
    <div class="gps-info">
        User: [{{Geolocation.Position.GPS.lat | number: 3}} ; {{Geolocation.Position.GPS.lng | number: 3}}]
    </div>
</div>
