<div ng-controller="GeolocationController" class="row">
    <div class="map-container-l">
        <div id="map-canvas"></div>
        <div class="map-controlls align-bottom align-right">        
            <div><a ng-click="Geolocation.MoveToPosition()"><i class="glyphicon glyphicon-map-marker"></i></a></div>
            <div><a ng-click="Geolocation.SetCurrentPosition()"><i class="glyphicon glyphicon-home"></i></a></div>
        </div>
        <div class="map-controlls align-bottom align-left" id="GPS-info">
            <div>GPS: {{Geolocation.Position.GPS.lat | number: 2}} {{Geolocation.Position.GPS.lng | number: 2}}</div>
        </div>
    </div>
</div>
