
<div ng-controller="PanoramioController" class="row">
	<br class="hidden-md hidden-sm">
        <div class="img-containter col-md-2" id="panoramio-container">
            <div id="wapiblock"></div>
        </div>
        <div class="map-container-l col-md-10">
                <div id="map-canvas"></div>
                <div class="map-controlls align-bottom align-right">        
                        <div><a ng-click="MoveToUserPosition()"><i class="glyphicon glyphicon-map-marker"></i></a></div>
                        <div><a ng-click="SetCurrentPosition()"><i class="glyphicon glyphicon-home"></i></a></div>
                </div>
                <div ng-controller="CountDownController" class="map-controlls align-bottom align-left">
                    <div ng-switch on="IsActive()">				
                        <div ng-switch-when="true"><a ng-click="CountDown.stop()"><i class="glyphicon glyphicon-stop"></i></a>{{CountDown.T}} s</div>
                            <div ng-switch-default><a ng-click="CountDown.start()"><i class="glyphicon glyphicon-play"></i>Start Game</a></div>
                        </div>
                </div>
        </div>
</div>