@model EventManager.Models.EventItem

<div class="newrow" data-role="">
    <div class="col-md-8 col-sm-8 col-xs-12">
        @Html.DisplayFor(model => model.Titel)
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.ActionLink("Stop", "Stop", new { id = Model.Id })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })          
    </div>
</div>