@model EventManager.Models.EventItem

<tr>
    <td>
        @Html.ActionLink("Stop", "Stop", new { id = Model.Id })
    </td>
    <td>
        @Html.DisplayFor(model => model.Titel)
    </td>
    <td>
        @Html.DisplayFor(model => model.StartTime)
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>