@model EventManager.Models.EventItem

@using(Html.BeginForm("Edit","OverviewEdit"))
{ 
    @Html.HiddenFor(model => model.Id)
    <tr>
        <td>
            @Html.TextBoxFor(model => model.Description)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Start)
        </td>
        <td>
            @Html.TextBoxFor(model => model.End)
        </td>
        <td>
            <input type="submit" value="Save" />
        </td>
    </tr>
}