/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.10.2014, 17:52:10
    Author     : felix
*/
body{
  margin:10px;  
}

.align-top{
    position:absolute;
    top:0;
}
.align-bottom{
    position: absolute;
    bottom:0;
}
.align-right{
    position: absolute;
    right:0;
}
#map-canvas{
    width:100%;
    height:100%;
    background-color: lightgray;
}
.map-container,
.map-container-xs{
    position:relative;
    height:256px;
}
.map-container-md{
    position:relative;
    height:384px;
}
.map-container-l{
    position:relative;
    height:512px;
}

.map-controlls{
    padding-bottom: 10px;
    padding-right: 5px;
}
.map-controlls i.glyphicon {
    font-size:1.5em;
}
#wapiblock{
    display: none;
}
#wapiblock-ctrl{
    padding-top: 25px;
    padding-right:5px;
}
.gps-info{
    float:right;
}
