@model EventManager.Models.EventItem

@{
    string desciption = "TestDescription";
}

@using (Html.BeginForm())
{    <fieldset>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            <input type="submit" value="Start"/>
        </div>
    </fieldset>
}